@import url("../assets/fonts.css");

.divContainer {
  display: flex;
  align-items: center;
  align-content: center;
  height: 500px;
  position: relative;
}

.imageBanner {
  background-image: url("../assets/images/wallpaper.jpeg");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageBanner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 500px;
}

.textBanner {
  position: absolute;
  color: white;
  z-index: 20;
  width: 100%;
  height: 500px;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
}

.textBannerContainer {
  margin: 0 auto;
  width: 1366px;
}

@media only screen and (max-width: 1366px) and (min-width: 800px) {
  .textBannerContainer {
    margin: 0 auto;
    width: 800px;
  }
}

@media only screen and (max-width: 799px) {
  .textBannerContainer {
    margin: 0 20px;
    width: auto;
  }
}
